@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');

html,body{
  overflow-x:hidden;
}

.back_to_top {
  position: fixed;
  bottom: 80px;
  right: 40px;
  z-index: 9999;
  width: 60px;
  height: 60px;
  text-align: center;
  line-height: 30px;
  /*background: #0a73bb;*/
  cursor: pointer;
  border-radius: 2px;
  display: none;
}

.back_to_top-show {
  display: block;
}

header{
  /* position: fixed; */
  width: 100%;
  height: 15%;
  background-color: white;
  z-index: 2;
}
.hea{
  height: 15vh;
}
.logo{
  float: left;
  width: 15%;
  margin-left: 5%;
}

.mainForm input{
  cursor: pointer;
}
.sidebar {
  margin: 0 auto;
  padding: 1%;
  background-color: grey;
}

.nav-link{
  color: black !important;
  font-size: 24px;
}

.nav-link:first-letter{
  color: red;
}

.nav-link:visited{
  text-decoration: underline;
}

article label{
  color: white;
}
article input{
  cursor: pointer;
}

.inpDate{
  /*padding-left: 40px !important;*/
  padding-right: 0px !important;
}
.calendar,.guests{
  position: absolute;
  top: 24px;
  /*margin: 8px;*/
  /*width: 2%;*/
  /*padding: 8px;*/
  right: 18px;
  height: 32px;
  background-repeat: no-repeat;
  background-size: cover;
  cursor: pointer;
}

aside.hotel{
  width: 70%;
  height: 80vh;
  background-image: url('../img/Слой 16.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin: 2% 15%;
  border-radius: 15px;
  box-shadow:0 10px 40px rgba(0, 0, 0, 0.9), 0 0 40px rgba(0, 0, 0, 0.1) inset;
}
.navigat{
  padding-right: 0;
  margin-bottom: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.burger-icon {
  position: relative;
  right: 1%;
  cursor: pointer;
  top: 3px;
}

.burger-nav {
  display: block;
  height: 40px;
  width: 100%;
  background-color: #cccccc;
  background-color: lightgrey;
  padding: 0;
  margin: 0;

}

#mobile .wrapper3{
  display: none;
  position: absolute;
  z-index: 999;
  width: 100%;
  padding: 0;
  margin: 0;
}
#mobile .wrapper3 .burger-nav{
  background-color: red;
}
#nav {
  overflow: hidden;
  background: #505050;
  height: 0;
  max-height: 0px;
  list-style-type: none;
  padding-left: 0;
  -webkit-transition: linear 1s;
  transition: linear 1s;
}

#nav.open {
  height: auto;
  max-height: 500px;
  -webkit-transition: linear 1s;
  transition: linear 1s;

}

/*.tooltip{*/
/*  position: absolute;*/
/*  width: 100%;*/
/*  height: 44px;*/
/*  line-height: 44px;*/
/*  background: black;*/
/*  color: white;*/
/*  top: 0;*/
/*  left: -10px;*/
/*  font-weight: 700;*/
/*  font-size: 10px;*/
/*  !*border-radius: 10px;*!*/
/*  opacity: 0;*/
/*  transition: all 0.5s ease;*/
/*}*/

/*.tooltip.top_tooltip{*/
/*  top: -40px;*/
/*}*/

/*.top_tooltip:before{*/
/*  content: "";*/
/*  position: absolute;*/
/*  bottom: -10px;*/
/*  right: 10px;*/
/*  border-left: 10px solid transparent;*/
/*  border-right: 10px solid black;*/
/*  border-top: 10px solid transparent;*/
/*  border-bottom: 10px solid transparent;*/
/*}*/

/*.guestsDiv:hover .tooltip {*/
/*  opacity: 1;*/
/*}*/

#nav li {
  float: none;
  text-align: left;
  text-decoration: none;
  width: 100%;
  margin: 0;
  -webkit-transition: linear 1s;
  transition: linear 1s;
}

#nav li a {
  text-decoration: none;
  color: white;
  padding: 10px;
  border-bottom: 1px solid white;
  display: block;
  margin: 0;
  -webkit-transition: linear 1s;
  transition: linear 1s;
}

#contain {
  display: inline-block;
  cursor: pointer;
  position: absolute;
  right: 10px;
  top: 0px;
}

.bar1, .bar2, .bar3 {
  width: 35px;
  height: 5px;
  background-color: #333;
  margin: 6px 0;
  transition: 0.2s;
}

.change .bar1 {
  -webkit-transform: rotate(-45deg) translate(-9px, 6px) ;
  transform: rotate(-45deg) translate(-9px, 6px) ;
}

.change .bar2 {opacity: 0;}

.change .bar3 {
  -webkit-transform: rotate(45deg) translate(-8px, -8px) ;
  transform: rotate(45deg) translate(-8px, -8px) ;
}

.hover .bar1 {
  background-color: red;
}

.hover .bar2 {
  background-color: red;
}

.hover .bar3 {
  background-color: red;
}
aside.nav{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  height: 10vh;
  margin-top: 6%;
  padding-top: 3%;
  padding-bottom: 0%;
  background-color:#546e7a;
  border-bottom-left-radius: 25px;
  border-top-right-radius: 25px;
}
.nav div{
  width: 20%;
  height: 6vh;
  background-color: white;
  border-radius: 10px;
  border: 2px solid #333;
  font-size: 20px;
  text-align: center;
  padding-top: 0.7%;
}
.nav div:first-child{
  margin-left: 5%;
}

.nav li{
  font-size: 24px;
}

.nav p{
  font-size: 24px;
  display: inline-block;
  vertical-align: top;
  width: 70%;
  /* line-height: 25px; */
  margin: 0;
  text-align: left;
}
.data{
  width: 15%;
  height: 15vh;

}
.data img{
  margin-top: 2%;
}
aside.location{
  margin-top: 10%;
  display: flex;
  flex-direction: column;
}
.location>section{
  margin: 0 7%;
}
.location section h1,.room h1{
  font-family: 'Poiret One', cursive;
  text-align: center;
  font-size: 36px;
}
.location section p, .textarea p{
  font-size: 24px;
  line-height: 1.5;
  font-family: 'Philosopher', sans-serif;
}

.location section .map{
  width: 90%;
  height: 80vh;
  margin: 4%;
  margin-left: 7%;
  margin-bottom: 2%;
  /*background-image: url(https://ilmfoundation.files.wordpress.com/2010/02/mapmarriot.jpg);*/
  /*background-repeat: no-repeat;*/
}
.room h1{
  margin-bottom: 8%;
}
.wrapper {
	height: 45vh;
	margin-left: 10%;
	position: relative;
	width: 80%;
}

.slider {
	height: inherit;
	overflow: hidden;
	position: relative;
	width: 100%;
	box-shadow: 0 0 20px #424242;

}

.slides {
	height: inherit;
	opacity: 0;
	position: absolute;
	width: 100%;
	z-index: 0;
	transform: scale(1.5);
	transition: transform ease-in-out .5s, opacity ease-in-out .5s;
  background-repeat: no-repeat;
}

.slide1 {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  color: white;
  background-image: url(../img/standart.png);
  background-size: cover;
}
.slide2 {
  background-image: url(../img/comfort.png);
  background-size: cover;
 }
.slide3 {
  background-image: url(../img/lux.png);
  background-size: cover;
 }

#slide1:checked ~ .slider > .slide1,
#slide2:checked ~ .slider > .slide2,
#slide3:checked ~ .slider > .slide3{
	opacity: 1;
	z-index: 1;
	transform: scale(1);
}
.textarea{
  margin-top: 20%;
}
.text{
  z-index: 0;
  opacity: 0;
	position: absolute;
}
#slide1:checked ~ .textarea .slider2 > .text1,
#slide2:checked ~ .textarea .slider2 > .text2,
#slide3:checked ~ .textarea .slider2 > .text3{
  opacity: 1;
	z-index: 1;
}
.wrapper > input {
	display: none;
}

.wrapper .controls {
	left: 40%;
	position: absolute;
}

.wrapper label {
	cursor: pointer;
	display: inline-block;
	height: 20px;
	margin: 25px 12px 0 16px;
	position: relative;
	width: 20px;
	border-radius: 50%;
	transition:  ease-in-out .5s;
}

.wrapper label:hover,
#slide1:checked ~ .controls label:nth-of-type(1),
#slide2:checked ~ .controls label:nth-of-type(2),
#slide3:checked ~ .controls label:nth-of-type(3),
#slide4:checked ~ .controls label:nth-of-type(4),
#slide5:checked ~ .controls label:nth-of-type(5) {
	background: #455a64 ;
}

.wrapper label:after {
	border: 2px solid #424242;
	content: " ";
	display: block;
	height: 24px;
	left: -4px;
	position: absolute;
	top: -4px;
	width: 24px;
	border-radius: 50%;
}
.textarea{
  margin-top: 70px;
}
.textarea h1{
  margin-top: 0;
}
.text>h1{
  margin-bottom: 10px;
}
.icons{
  display: flex;
  width: 100%;
  flex-direction: row;
  /* flex-wrap: wrap; */
  color: #37474f;
}

.icons img{
  width: 2em;
  height: 2em;
  margin-left: 35px;
  margin-right: 15px;
}
.icons h4{
  margin-top: 7px;
}
.icons .img1{
  margin-left: 0;
}
.icon{
  display: flex;
  width: 100%;
  justify-content: flex-start;
  flex-direction: column;
}
.icon div{
  display: flex;
  flex-direction: row;
}

.restoran h1, .news h1{
  text-align: center;
}
.restoran hr, .news hr{
  margin: 0px 1%;
  height: 3px;
  background-color: #546e7a;
}

.h{
  font-size: 30px;
}
.photoMenu{
  width: 100%;
  height: 50vh;
  margin: 3% auto;
  background-position: center;
  background-size: cover;
  /*background-repeat: no-repeat;*/
}
.restoran .photo{
  width: 80%;
  height: 50vh;
  margin: 3% auto;
  background-image: url(../img/restoran.png);
  /*background-size: contain;*/
  background-position: center;
  /*background-repeat: no-repeat;*/
}
.restoran p{
  margin: 3% 7%;
  line-height: 1.5;
  font-size: 24px;
  /*font-family: 'Open Sans Condensed', sans-serif;*/
}
.restoran p a{
  color: #546e7a;
}
.restoran p img{
  width: 24px;
  vertical-align: center;
}

.menu a{
  border: #CD8C6E 1px solid;
  padding: 3px 15px;
  color: black;
  font-size: 22px;
}
.menu a:hover{
  background-color: #CD8C6E;
  color: black;
  text-decoration: none;
}

.menu a:visited,.menu a:link{
  text-decoration: none;
}

.news h1{
  text-align: center;
  margin: 5% auto;
  margin-top: 10%;
}
.news>h2{
  margin-bottom: 8%;
}
.aside1{
  display: flex;
  flex-direction: row;
  margin: 0;
  margin-bottom: 5%;
}
.news .four div{
  display: flex;
  flex-direction: column;
  margin-right: 20%;
}
.news .aside1 a{
  float: right;
  color: #546e7a;
  font-size: 24px;
}
.news .first{
  width: 30%;
  cursor: pointer;
}
.news .first,.news .second,.news .third,.news .four{
  margin-left: 10%;
  margin-right: 5%;
  height: 25vh;
  background-position: center;
  background-size: cover;
  border: 2px solid #546e7a;
}

/*.news .descMenu{*/
/*  color: #6610f2;*/
/*  font-size: 24px;*/
/*}*/

.news .description{
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.news .description h2{
  margin-top: 0;
  cursor: pointer;
}
.news .description p{
  font-size: 24px;
}
#contacts{
  margin-left: 10%;
}
#contacts h3 {
  font-weight: 600;
  font-size: 36px;
  margin: 3% 0px;
}
.wrapper1{
  width: 40%;
}

.ico-wrap {
    color: #546e7a;
    width: 70px;
    height: 70px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    font-size: 40px;
    border: 2px solid #546e7a;
    /*float: left;*/
    margin-right: 2%;
}
.ico-wrap img{
  width: 60%;
  align-self: center;
}

.ico-contact {
    line-height: 1.9 !important;
}
.descript-wrapper {
    float: left;
    margin-bottom: 20px;
}
.aio-icon-title {
    font-size: 18px;
    color: #546e7a;
    line-height: 1;
    margin-bottom: 10px;
}
ul li{
  padding: 2% 0;
  /*font-size: 24px;*/
}
ul{
  list-style: square;
  margin-top: 5%;
}
footer{
  position: relative;
  width: 100%;
  background-color: #546e7a;
}
.footer div h3,.footer span i{
  color: #CD8C6E;
}

.link{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-right: 5%;
}
.link .img{
  display: flex;
  flex-direction: row;
}
.link a{
  align-self: center;
  font-size: 24px;
}
.link h2{
  align-self: flex-end;
}
footer div a:link{
  color: white;
  font-size: 20px;
}
footer div a:visited{
  color: white;
}
a.fb,a.insta{
  background-repeat: no-repeat;
  padding-right: 15px;
}
a.fb {
 background-image: url(../img/fb.png);
 width: 64px;
 height: 64px;
}
a.insta {
 background-image: url(../img/insta.png);
 width: 64px;
 height: 64px;
}
a.youtube {
 background-image: url(../img/youtube.png);
 width: 64px;
 height: 64px;
}
header .logo{
  margin-top: 2%;
}
header .bott{
  margin-top: 4%;
}

.hm{
  font-size: 24px;
}

@media only screen  and (min-device-width: 1224px)  {
  h1{
    font-size: 36px;
  }
  p{
    font-size: 24px;
  }
  .hea{
    height: 20vh;
  }
  header{
    height: 19%;
  }
  .room .wrapper{
    height: 80vh;
  }
  .room .controls{
    left: 44%;
  }
  .restoran>h1{
    margin-bottom: 5%;
  }
  .restoran{
    margin-top: 5%;
  }

  .restoran p img{
    width: 30px;
  }

  .description a{
    text-decoration: none;
  }
  .description a:hover{
    text-decoration: underline;
  }
  a.fb {
   background-image: url(../img/fb_gray.png);
   width: 64px;
   height: 64px;
  }
  a.fb:hover {
   background-image: url(../img/fb.png);
  }
  a.insta {
   background-image: url(../img/insta_gray.png);
   width: 64px;
   height: 64px;
  }
  a.insta:hover {
   background-image: url(../img/insta.png);
  }
  a.youtube {
   background-image: url(../img/youtube_gray.png);
   width: 64px;
   height: 64px;
  }
  a.youtube:hover {
   background-image: url(../img/youtube.png);
  }
  footer div a:link{
    text-decoration: none;
  }
  footer div a:hover{
    text-decoration: underline;
  }
}


@media (min-device-width:920px) and (max-device-width:1025px) {
  h1{
    font-size: 30px;
  }
  .hea{
    height: 20vh;
  }
  header{
    height: 17%;
  }
  .room .wrapper{
    height: 60vh;
  }
  .menu a{
    font-size: 18px;
  }
}

@media (min-device-width:427px) and (max-device-width:919px){
  .menu{
    flex-direction: column;
    margin-left: 5%;
  }

  .menu a{
    margin-bottom: 1%;
  }

  .sidebar{
    flex-direction: column;
    padding: 2%;
  }
  .sidebar button{
    width: 50%;
  }
}

@media (max-device-width:426px) {
  body{
    width: 100%;
    overflow-x: hidden;
  }

  .sidebar{
    flex-direction: column;
    margin-top: 15%;
    padding: 2%;
  }
  .sidebar button{
    width: 50%;
  }

  header{
    height: 8%;
  }
  .hea{
    height: 10vh;
  }
  aside.nav div{
    height: 40%;
  }
  aside.nav{
    height: 7vh;
  }
  aside.hotel{
    height: 55vh;
  }
  .location section .map{
    height: 25vh;
  }
  aside.restoran{
    margin-top:5%;
  }
  .restoran p img{
    width: 36px;
  }

  .distance h2,.distance li{
    font-size: 18px;
  }

  .news .aside1{
    flex-direction: column;
  }
  .news .aside1 .first{
    width: 80%;
  }
  .news .description{
    width: 100%;
    display: flex;
    /*align-items: center;*/
  }
  .news .description h2{
    text-align: center;
    font-size: 24px;
  }
  .news .description p{
    text-align: center;
    font-size: 18px;
  }
  .news .description a{
    text-align: end;
  }
  .restoran p{
    font-size: 16px;
  }

  .news .aside1 h2{
      font-weight: bolder;
  }
  .h{
  font-size: 16px;
  }

  .contact{
    flex-direction: column;
    align-items: start;
  }
  .wrapper1{
    width: 100%;
  }

  .wrapper1 h3{
    text-align: center;
  }

  .menu{
    flex-direction: column;
    margin-left: 5%;
  }

  .menu a{
    font-size: 12px;
    padding: 2px 6px;
    margin-bottom: 2px;
  }

  .slider .slide1,.slider .slide2,.slider .slide3{
    background-position: center;
  }

  .footer{
    flex-direction: column;
    align-items: center;
  }

  #mobile .wrapper3{
    display: block;
  }
  #desktop{
    display: none !important;
  }

  footer div a:link{
    color: white;
    font-size: 16px;
  }

  footer div h3{
    font-size: 18px;
  }

  .location section p{
    font-size: 16px;
  }

  .news .description a{
    font-size: 18px;
  }

}
